<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} | {{ page.title }}</title>
    <script src="https://kit.fontawesome.com/2ee39f3cef.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:600,800&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href= "{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="bio">
          <div class="profpic">
            <img src="{{ '/assets/profpic.JPG' | relative_url }}" alt="profilepic">
          </div>
          <div class="text">
            <h1>JESSICA DING</h1>
            <h6>I'm a boba-fueled freshman at MIT double-majoring in {electrical engineering + computer science} and {math}.</h6>
            <div class="socials">
              <a href="https://www.linkedin.com/in/jessding1729/" target="_blank">
                <div class="icon"> 
                  <i class="fab fa-linkedin-in"></i>
                </div>
              </a>
              <a href="https://github.com/jessding" target="_blank">
                <div class="icon">
                  <i class="fab fa-github"></i>
                </div>
              </a>
              <a href="https://instagram.com/_jessding" target="_blank">
                <div class="icon">
                  <i class="fab fa-instagram"></i>
                </div>
              </a>
              <a href="https://www.youtube.com/channel/UCGm3Eb-LVWZNj3E4VsLCU9Q" target="_blank">
                <div class="icon">
                  <i class="fab fa-youtube"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="pagelinks {{ page.title }}">
          <div class="pagelink" id="projects">
          <h2><a href="/">projects</a></h2>
          </div>
          <div class="pagelink" id="classes">
            <h2><a href="/classes/">classes/work</a></h2>
          </div>
          <div class="pagelink" id="currently">
            <h2><a href="/currently/">currently</a></h2>
          </div>
          <div class="pagelink" id="fun">
            <h2><a href="/fun/">fun</a></h2>
          </div>
          <div class="pagelink" id="about">
            <h2><a href="/about/">about</a></h2>
          </div>
        </div> 
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
