<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1">
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/profpic.JPG' | relative_url }}">
    <title>{{ site.title }} | projects | {{ page.title }}</title>
    <script src="https://kit.fontawesome.com/2ee39f3cef.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:600,800&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href= "{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href= "{{ '/assets/css/project.css' | relative_url }}">
  </head>
  <body>
    <div class="container">
        <a href = "/" style="align-self: flex-start;"> 
            <div class="back">
                <i class="fas fa-backward" style="margin-right:10px"></i>
                <p style="margin-top: 0px">back to projects</p>
            </div>
        </a>
      <div class="projcontent">
        <h1>{{ page.title }}</h1>
        <h2>{{ page.descr }}</h2>
        <div class="icons">
          {% if {{page.sitelink}} %}
            <a href={{page.sitelink}} target="_blank">
              <div class="icon"> 
                <i class="fas fa-link"></i>
              </div>
            </a>
          {% endif %}
          {% if {{page.github}} %}
            <a href={{page.github}} target="_blank">
              <div class="icon"> 
                <i class="fab fa-github"></i>
              </div>
            </a>
          {% endif %}
          {% if {{page.devpost}} %}
            <a href={{page.devpost}} target="_blank">
              <div class="icon"> 
                <i class="far fa-edit"></i>
              </div>
            </a>
          {% endif %}
        </div>
        <div class="mainimg">
          <img src="{{ page.mainimg | relative_url }}" alt="project pic">
        </div>
        {{ content }}
        <br>
        <div class="context">
          <b>team:</b> {{page.teammates}} <br>
          <b>context:</b> {{page.context}}
        </div>
        
      </div>
    </div>
  </body>
</html>
