<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} | projects | {{ page.title }}</title>
    <script src="https://kit.fontawesome.com/2ee39f3cef.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:600,800&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href= "{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href= "{{ '/assets/css/projects.css' | relative_url }}">
  </head>
  <body>
    <div class="container">
        <a href = "/" style="align-self: flex-start;"> 
            <div class="back">
                <i class="fas fa-backward" style="margin-right:10px"></i>
                <p>back to projects</p>
            </div>
        </a>
      <div class="content">
        <h1>{{ page.title }}</h1>
        <h2>{{ page.descr }}</h2>
        <div class="mainimg">
          <img src="{{ page.mainimg | relative_url }}" alt="project pic">
        </div>

        {{ content }}
      </div>
    </div>
  </body>
</html>
